.App {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1rem;
  position: relative;
}

.App-nav {
  position: absolute;
  width: 100vw;
  top:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: var(--nav-bar-color);
  z-index: 50;
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.16);
  border-bottom : 2px solid var(--headerUnderline);
  background: rgba(201, 173, 106, 0.2);
}

.App-content { 
  margin-top: 50px;
}

.nav-button {
  height: 50px;
  display: flex;
  align-items: center;  
  justify-content: center;
  padding: 0 10px;
  text-decoration: none;
  font-weight: 600;
  color: var(--font);
  text-align: center;
  cursor: pointer;
  font-family: 'MrEavesRemake';
}

.nav-button:first-child {
  margin-right: auto;
}

.nav-button svg {
  color: var(--headerText);
  margin-right: 5px;
}

.nav-button:hover {
  background: rgba(201, 173, 106, 0.2);
}

/* .nav-button-active {
  text-decoration: underline;
  color: var(--var-red);
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  background-image: url("../assets/app/parchmentBackground.jpg");
  border: 1px solid #000;
  border-radius: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
}

.modal .modal-header {
  padding: 0.5rem 1rem;
  background: rgba(201, 173, 106, 0.2);
  display: flex;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
}

.modal .modal-content {
  padding: 1rem;
}

.modal svg {
  color: var(--headerText);
  margin-left: 5px;
  cursor: pointer;
}

.login-form input {
  width: 200px;
}

.resp-display-sm {
  display: none;
}

.resp-display-lg {
  display: inline-block;
}

@media (max-width: 768px) {
  .resp-display-sm {
    display: inline-block;
  }

  .resp-display-lg {
    display: none;
  }

  .nav-button {
    flex-shrink: 1;
    flex-grow: 1;
    padding: 0;
  }
  
  .nav-button * {
    width: 100%;
  }

  .App-nav-center {
    flex-grow:4;
  }
}