* {
  box-sizing: border-box
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: var(--background);
  background-image: url("../assets/app/parchmentBackground.jpg");
  box-shadow: inset 1em 0em 1em rgba(0, 0, 0, 0.05),
    inset -1em 0em 1em rgba(0, 0, 0, 0.05);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}