#map { 
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.my-div-icon svg {
  filter: drop-shadow(2px 4px 8px #333);
}

.ping-container {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ping {
  color: #fff;
  border-radius: 50%;
  border: 0px solid #fff;
  background: #fff;
  width: 10px;
  height: 10px;
  animation: ping-animation 1.5s ease-out 3;
  animation-fill-mode: forwards; 
}

@keyframes ping-animation {
  0% {
    border: 0px solid #fff;
    opacity: 1;
  }
  100% {
    border: 30px solid #fff;
    opacity: 0;
  }
}