#snackbar {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px; 
  text-align: center; 
  border-radius: 2px;
  padding: 16px; 
  position: fixed;
  z-index: 1001; 
  left: 50%; 
  bottom: 30px;
  border-radius: 7px;
  color: #fff;
  background: #378856;
  border: 3px solid #fff;
  font-weight: 600;
  transform:translate(9999px);
}

#snackbar.error {
  background: #9b3b3b;
}

#snackbar.show {
  visibility: visible; 
  animation: fadein 0.5s 1, fadeout 0.5s 1 forwards 4.5s;
  transform:translate(0);
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
