/* https://github.com/naturalcrit/homebrewery/blob/master/themes/5ePhb.style.less */

html {
  --font            :#000;
  --background      : #EEE5CE; /*Light parchment */
  --noteGreen       : #e0e5c1; /*Pastel green */
  --headerUnderline : #c9ad6a; /*Gold */
  --horizontalRule  : #9c2b1b; /*Maroon */
  --headerText      : #58180D; /*Dark maroon */
  --monsterStatBackground : #EEDBAB; /*Light orange parchment */
  --captionText     : #766649; /*Brown */
  --watercolorStain : #BBAD82; /*Light brown */
}


